<%= link_to 'Back', projects_path, class: 'btn btn-secondary mb-3' %>
<div class="card">
  <div class="card-body">
    <h2 class='card-tittle mb-4'>
      <span>New Projects</span>
    </h2>

    <%= render 'form', project: @project %>
    </div>
</div>